@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <img src="@Url.Action("NativePay","Wx")" style="width:200px;height:200px;"/>
</div>
</body>
</html>